.b-accordion {

  .accordion-item {
    margin-bottom: 10px;

    @media (min-width: $bp-small) {
      margin-bottom: 15px;
    }

    &.active {

      .item-hd:before {
        top: 20px;
        @include transform(rotate(135deg));

        @media (min-width: $bp-small) {
          top: 29px;
        }
      }

      .item-bd {
        display: block;
      }
    }
  }

  .item-hd {
    background: #056996;
    color: #fff;
    font-size: 14px;
    font-family: $klavikabasic-bold;
    padding: 10px 50px 10px 15px;
    position: relative;
    cursor: pointer;

    @media (min-width: $bp-small) {
      padding: 16px 60px 16px 26px;
      font-size: 20px;
    }

    &:before {
      @include pseudo-block($right: 18px, $top: 15px);
      width: 12px;
      height: 12px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      @include transform(rotate(-45deg));

      @media (min-width: $bp-small) {
        right: 26px;
        top: 22px;
        width: 15px;
        height: 15px;
      }
    }
  }

  .item-bd {
    display: none;
    background: #efedef;
    padding: 15px;

    @media (min-width: $bp-small) {
      padding: 26px;
    }
  }
}